.credentials-button{
    -fx-min-height: 40px;
    -fx-min-width: 139px;
    -fx-font-family: Serif;
    -fx-font-size: 20px;
    -fx-background-color: lightyellow;
    -fx-effect: dropshadow(one-pass-box, black, 15 , 0.0 , 2 , 0)
}

.title-label{
    -fx-min-height: 40px;
    -fx-min-width: 130px;
    -fx-font-family: Serif;
    -fx-font-size: 20px;
    -fx-padding: 10px 10px 10px 57px;
}

.name-label{
    -fx-min-height: 40px;
    -fx-min-width: 130px;
    -fx-font-family: Serif;
    -fx-font-size: 20px;
}

.name-text-field{
    -fx-min-height: 40px;
    -fx-min-width: 130px;
    -fx-max-height: 40px;
    -fx-max-width: 130px;
    -fx-font-family: Serif;
    -fx-font-size: 20px;
}

.credentials-vbox{
    -fx-background-color: lightblue
}