.credentials-button{
    min-height: 40px;
    min-width: 139px;
    font-family: Serif;
    font-size: 20px;
    -fx-background-color: lightyellow;
    -fx-effect: dropshadow(one-pass-box, black, 15 , 0.0 , 2 , 0)
}

.title-label{
    min-height: 40px;
    min-width: 130px;
    font-family: Serif;
    font-size: 20px;
    padding: 10px 10px 10px 57px;
}

.name-label{
    min-height: 40px;
    min-width: 130px;
    font-family: Serif;
    font-size: 20px;
}

.name-text-field{
    min-height: 40px;
    min-width: 130px;
    max-height: 40px;
    max-width: 130px;
    font-family: Serif;
    font-size: 20px;
}