.main-menu-button{
    -fx-min-height: 40px;
    -fx-min-width: 130px;
    -fx-font-family: Serif;
    -fx-font-size: 20px;
    -fx-background-color: lightyellow;
    -fx-effect: dropshadow(one-pass-box, black, 15 , 0.0 , 2 , 0)
}

.main-menu-vbox{
    -fx-alignment: center;
    -fx-spacing: 20;
    -fx-background-color: lightblue
}