.panel-button{
    -fx-min-height: 50px;
    -fx-min-width: 160px;
    -fx-max-height: 50px;
    -fx-max-width: 160px;
    -fx-font-family: Serif;
    -fx-font-size: 20px;
    -fx-background-color: lightyellow;
    -fx-effect: dropshadow(one-pass-box, black, 15, 0.0 , 2 , 0)
}

.name-label{
    -fx-min-height: 60px;
    -fx-min-width: 170px;
    -fx-max-height: 60px;
    -fx-max-width: 170px;
    -fx-font-family: Serif Bold;
    -fx-font-size: 20px;
    -fx-alignment: center;
    -fx-background-color: lightblue;
    -fx-border-color: darkturquoise;
}

.panel-vbox{
    -fx-spacing: 15;
}